

{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Reportes</title>

    <link rel="stylesheet" href="{% static 'css/reports.css' %}" media="screen">
    
<a href="{% url 'exit' %}" class="boton_logout">
          
  Cerrar sesión
  <img src="{% static 'img\cerrar-sesion.png' %}" alt="Logout Icon" width="20" height="20">
</a>
{% if user.is_staff or user.is_superuser %}
<button class="back-button" onclick="goBack()">Volver Atrás</button>
{% endif %}
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
</head>
<style>
    .back-button {
      position: absolute;
        top: 10px; /* Distancia desde la parte superior */
        right: 100px; /* Distancia desde la izquierda */
        background-color: #f39303; /* Color de fondo */
        color: white; /* Color del texto */
        padding: 10px 20px; /* Espaciado interno (arriba/abajo y izquierda/derecha) */
        font-size: 16px; /* Tamaño de la fuente */
        border: none; /* Sin borde */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
    }
  
    .back-button:hover {
        background-color: #45a049; /* Cambiar color de fondo al pasar el ratón */
    }</style>
<body data-path-to-root="/" data-include-products="false" class="u-body u-overlap u-overlap-contrast u-overlap-transparent u-xl-mode" data-lang="es">
    <section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-1" id="carousel_2d24">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-border-9 u-border-white u-expanded-width u-line u-line-horizontal u-line-1"></div>
            <div class="u-container-style u-group u-palette-2-base u-radius-10 u-shape-round u-group-1">
            </div>
            <body data-path-to-root="/" data-include-products="false" class="u-body u-overlap u-overlap-contrast u-overlap-transparent u-xl-mode" data-lang="es">
              <section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-1" id="carousel_2d24">
                
                  <div class="u-clearfix u-sheet u-sheet-1">
                      <!-- ... (código anterior) ... -->
                      <br>
                      <br>
                      <h2>Próximas reservas</h2>
                      <h3>En esta sección puedes visualizar las próximas reservas en base al rango de fechas seleccionado:</h3>
                      <form id="filtroFechasForm">
                  <label for="fechaDesde">Desde:</label>
                  <input type="date" id="fechaDesde" name="fechaDesde">
              
                  <label for="fechaHasta">Hasta:</label>
                  <input type="date" id="fechaHasta" name="fechaHasta">
              
                  <button type="button" onclick="filtrarReservas()">Filtrar</button>
                  
              </form>
                      <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Nombre usuario</th>
                                <th>Correo</th>
                                <th>Proyecto</th>
                                <th>ID de Bloque</th>
                                <th>Hora de Inicio</th>
                                <th>Hora de Fin</th>
                                <th>Fecha</th>
                                <th>Equipos reservados</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reserva in reservas %}
                                <tr>
                                    <td>{{ reserva.nomA }}</td>
                                    <td>{{ reserva.correo }}</td>
                                    <td>{{ reserva.proyecto_usuario }}</td>
                                    <td>{{ reserva.idB.id }}</td>
                                    <td>{{ reserva.idB.hora_inicio }}</td>
                                    <td>{{ reserva.idB.hora_fin }}</td>
                                    <td>{{ reserva.idB.fecha }}</td>

                                    {% if reserva.idB.idE.all %}
                                        <td>
                                            {% for stock_item in reserva.idB.idE.all %}
                                                {{ stock_item.nomE }}
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>Sin equipos reservados</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    
                  </div>
              </section>
          </body>

        </div>
    </section>
    <img class="u-image-1" src="{% static 'img\Calada.png' %}" alt="">
</body>
</html> 

<script>
  function filtrarReservas() {
      // Obtener los valores de las fechas desde y hasta
      var fechaDesde = document.getElementById("fechaDesde").value;
      var fechaHasta = document.getElementById("fechaHasta").value;

      // Redirigir a la página de reportes con los parámetros de fecha
      window.location.href = "/reportes/?fecha_desde=" + fechaDesde + "&fecha_hasta=" + fechaHasta;
  }
</script>
<!-- ... (resto del código) ... -->
<script>
    function goBack() {
        window.history.back();
    }
  </script>